.newTaskForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  transform: translateY(-50%);
}

.newTaskForm input {
  width: 100%;
  color: var(--gray-100);
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  padding: 1rem;
}

.newTaskForm input:focus {
  border: 1px solid var(--purple-500);
  outline: none;
}

.newTaskForm input::placeholder {
  color: var(--gray-300);
}

.newTaskForm button {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 1rem;
  color: var(--gray-100);
  background: var(--blue-500);
  border: 0;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s;
}

.newTaskForm button:hover {
  background: var(--blue-300);
}
